<div class="header-button">
    <%= link_to '課題を追加', new__course_task_path(task.course_id), class: "btn btn-primary" %>
    <%= link_to 'コース一覧に戻る', courses_path, class: "btn btn-default back-to-course-button" %>
</div>