<div class="modal-dialog slack-user-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4 class="modal-title">Slackとの連携について</h4>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      <div class="tutorial-content">
        <% text = render partial: 'user_slack_tutorial.html.md' %>
        <%= markdown(text) %>
      </div>
      <div class="tutorial-table-of-content sticky">
        <div id="toc_container">
          <p class="toc_title">目次</p>
          <%= create_toc(text) %>
        </div>
      </div>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal">閉じる</button>
    </div><!-- /.modal-footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->