<p>以下のリンクをクリックして、メールの受信確認を行ってください。</p>

<p>リンクは<%= @user_university.email_confirmation_due_date.strftime("%Y年%m月%d日 %H:%M") %>まで有効です。</p>

<p><%= link_to 'メールの受信を確認', users_confirm_email_url(confirmation_token: @user_university.confirmation_token) %></p>