@mixin edit-contents {
  margin-top: 30px;
}

@mixin edit-left-area {
  margin-left: 25px;
  width: 50%;
  display: inline-block;

  &__title {
    display: inline-block;  
  }

  &__title-count {
    display: inline-block;
    float: right;
  }

  &__course-detail {
    display: inline-block;
  }

  &__course-detail-count {
    display: inline-block;
    float: right;
  }
  
  &__item {
    margin-bottom: 30px;
  }
}

@mixin edit-right-area {
  float: right;
  width: 36%;
  margin-right: 20px;
  
  &__entry-start-area {
    margin-bottom: 20px;
  }

  &__entry-end-area {
    margin-bottom: 20px;
  }
  
  &__slack-area {
    margin: 0;
  }
}
