.back-to-course-button {
    margin-left: 10px
}

.edit-contents {
  @include edit-contents;
}

.edit-left-area {
  @include edit-left-area;
}

.edit-right-area {
  @include edit-right-area;
}

.dialog-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    pointer-events: none;
    
    .modal-content {
      pointer-events: all;
    }
}

.team-member-dialog {
  width: 36%;
}