<div class="header-button">
    <%= @msg =>
    <%= link_to 'チームを追加', new__course_task_team_path, class: "btn btn-primary" %>
    <%= link_to 'チーム一覧に戻る',_course_task_teams_path(params[:course_id], params[:task_id], @team[:id]), class: "btn btn-default back-to-course-button" %>
</div>