<div class="header-button">
    <%= link_to 'チームを追加', new__course_task_path, class: "btn btn-primary" %>
    <%= link_to 'チーム一覧に戻る', _course_tasks_path(params[:course_id]), class: "btn btn-default back-to-course-button" %>
</div>