<div class="contents__main">
  <div class="contents__wrap">
    <h5>[チーム]を[編集]する</h5>
    
    <%= render 'form_edit', team: @team %>
    
    <%= link_to '戻る', _course_task_team_path(params[:course_id], params[:task_id], @team), class: "btn btn-default" %>
  </div>
</div>