<div class="header-button">
  <%= link_to '大学情報を管理する', universities_url, class: "btn btn-info" %>
  <%= link_to 'Slackを管理する', slack_index_url, class: "btn btn-success" %>
  <%= link_to 'コースを作成する', new_course_path, class: "btn btn-primary" %>
</div>