.slack-user-dialog {
    width: 90%;
}
.tutorial-content {
    width: 60%;
    display: inline-block;
    margin: 0 20px 20px 20px;
    font-size: 14px;
    h2 {
        padding: 0.8em 1.0em;
        color: #494949;
        background: #f4f4f4;
        border-left: solid 5px #7db4e6;
        border-bottom: solid 3px #d7d7d7;
        font-size: 18px;
    }
    h3 {
        padding: 0.6em 2.0em;
        color: #494949;
        background: #f4f4f4;
        border-left: solid 5px #7db4e6;
        border-bottom: solid 3px #d7d7d7;
        font-size: 16px;
    }
    h4 {
        padding: 0.4em 3.0em;
        color: #494949;
        border-left: solid 5px #7db4e6;
        border-bottom: solid 3px #d7d7d7;
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    ul li {
        list-style: disc inside ;
    }
    img {
        width: 100%;
    }
    table {
        font-size: 12px;
    }
}

.tutorial-table-of-content {
    margin: 20px 20px 0 0;
    float: right;
    width: 30%;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 15px;
    width: 100%;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    margin: 1.0em 0 1.0em 0.5em;
    padding: 0;
}

.sticky {
    position: -webkit-sticky;/* for safari */
    position: sticky;
    top: 25px;/* 固定時の上位置 */
}