.edit-contents {
  @include edit-contents;
}

.edit-left-area {
  @include edit-left-area;
}

.edit-right-area {
  @include edit-right-area;
}

/* show.html.erb */
.contents__course-summary {
  width: 1100px;

  i {
    font-size: 60px;
    margin: 0 30px 0 30px;
  }

  &__icon {
    display: inline-block;
  }

  &__info {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
  }

  &__contents-wrap-participant {
    @include course-summary-contents-wrap;
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }

  &__contents-wrap-task {
    @include course-summary-contents-wrap;
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }

  &__contents-wrap-team {
    @include course-summary-contents-wrap;
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }

}

.contents__start-end-date {
  width: 235px;
  display: inline-block;
}

.contents__action {
  display: inline-block;
  float: right;
}

.contents__box-wrap {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #9CC2CB;
  border-radius: 8px;

  p {
    margin: 0; 
    padding: 0;
    word-wrap: break-word;
  }
}

.contents__box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #9CC2CB;
  font-weight: bold;
}

/* end of show.html.erb */

/* list of content for course, task and team */
.contents_list li {
  display: inline-block;
  margin-bottom: 30px;
  width: 45%;
  border-radius: 8px;
  border: solid 1px #DDDCDC;
}

.contents_list li:not(:last-child) {
  margin-right: 30px;
}

.contents_list li .content-area {
  margin: 0;
  padding: 20px 15px;
  width: 100%;
}

.contents_list li .content-area dl {
  margin: 0;
  padding: 0;
}

.contents_list li .content-area dl dt {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contents_list li .content-area dl dd {
  padding: 0;
  margin: 0 0 10px 0;
  word-wrap: break-word;
  font-size: 14px;
}

.contents_list li .content-area dl dd .detail-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 25%;
}

.contents_list li .content-area dl dd .detail-material {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 70%;
}

.contents_list li .icon-area {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 20px 15px;
  width: 100%;
  border: solid 1px #DDDCDC;
  background-color: #f7f1f1;
  
  i {
    display: inline-block;
    font-size: 25px;
    color: #000000;
  }
  
  &__item {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 4em;
  }
}

/* end of list of content */
