.edit-contents {
  @include edit-contents;
}

.edit-left-area {
  @include edit-left-area;
}

.edit-right-area {
  @include edit-right-area;
}

/* show.html.erb */
.contents__course-summary {
  width: 1100px;

  i {
    font-size: 60px;
    margin: 0 30px 0 30px;
  }

  &__icon {
    display: inline-block;
  }

  &__info {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
  }

  &__contents-wrap-participant {
    @include course-summary-contents-wrap;
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }

  &__contents-wrap-task {
    @include course-summary-contents-wrap;
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }

  &__contents-wrap-team {
    @include course-summary-contents-wrap;
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }

}

.contents__start-end-date {
  width: 235px;
  display: inline-block;
}

.contents__action {
  display: inline-block;
  float: right;
}

.contents__box-wrap {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #9CC2CB;
  border-radius: 8px;

  p {
    margin: 0; 
    padding: 0;
    word-wrap: break-word;
  }
}

.contents__box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #9CC2CB;
  font-weight: bold;
}

/* end of show.html.erb */

/* show_team_detail.html.erb */
.weekly-commit-summary {
  margin-bottom: 60px;
  &__chart {
    margin-left: -40px;
    width: 830px;
    display: inline-block;
  }

  &__description {
    margin-left: 45px;
  }

  &__blue {
    color: #3880aa; 
  }
    
  &__green {
    color: #4da944;
  }
  
  &__total-commit-table {
    display: inline-block;
    float: right;
    width: 250px;
  }
}

.weekly-pull-request-summary {
  margin-bottom: 60px;
  &__chart {
    display: inline-block;
    width: 650px;
    height: 250px;
  }
  
  &__total-pull-request-table {
    display: inline-block;
    float: right;
    width: 250px;
  }
}

.table {
  margin-bottom: 0;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab-item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tab-item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab-item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab-content {
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

.on-tab {
  background-color: #5ab4bd;
  color: #fff;
}

.off-tab {
  background-color: #d9d9d9;
  color: #565656;
}

.disnon {
  display: none;
}

.contents-area {
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-around;

  &__individual-progress-bar {
    width: 300px;
  }

  &__commit-history {
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &__pull-request-history {
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.task-list-box-area {
  margin-bottom: 50px;

  &__list-box {
    width: 200px;
    float: right;
    margin-right: 30px;
  }
}

/* end of show_team_detail.html.erb */

/* list of content for course, task and team */
.contents_list li {
  display: inline-block;
  margin-bottom: 30px;
  width: 48%;
  border: solid 1px #DDDCDC;
  box-shadow: 0px 0px 1px 0 #000;
}

.contents_list li:nth-child(even) {
  float: right;
}

.contents_list li .content-area {
  margin: 0;
  padding: 20px 15px;
  width: 100%;
}

.contents_list li .content-area dl {
  margin: 0;
  padding: 0;
}

.contents_list li .content-area dl dt {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.contents_list li .content-area dl dd {
  padding: 0;
  margin: 0 0 10px 0;
  word-wrap: break-word;
  font-size: 14px;
}

.contents_list li .content-area dl dd .detail-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 35%;
}

.contents_list li .content-area dl dd .detail-material {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 63%;
}

.contents_list li .icon-area {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 20px 15px;
  width: 100%;
  border: solid 1px #DDDCDC;
  background-color: #f7f1f1;
  
  i {
    display: inline-block;
    font-size: 25px;
    color: #000000;
  }
  
  a:not(:last-child) {
    margin-right: 6em;
  }
  
}

/* end of list of content */

/* breacrumb */
.breadcrumb li + li:before {
  content: " > ";
  padding: 0 5px;
  color: #000;
}

/* end of breacrumb */
