.sidebar {
  position: fixed;
  font-size: 14px;
  top: 0px;
  left: 0px;
  width: 15%;
  z-index: 2;
  height: 100%;

  &__wrap {
    width: 200px;
    background: #363f44;
    height: 100%;
  }

  &__menu-wrap {
    padding: 50px 15px 15px 15px;
  }

  &__items {
    height: 50px;
  }

  &__item {
    padding: 10px;
  }

  &__action {
    margin-left: 10px;
  }

  a {
    color: #f0f0f0;
    text-decoration: none;
  }
}